<div class="container">
	<div class="row justify-content-center mt-5">
		<img class="rounded-circle" src="<%= @user.img %>" style="width: 150px; height: 150px; object-fit: cover">
	</div>

	<div class="row justify-content-center mt-4">
		<h2><%= @user.name %></h2>
	</div>

	<div class="row justify-content-center border-bottom pb-3 mt-3">
		<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalLong">
 			フレンド一覧
		</button>

	</div>

	<!-- 切り替えボタンの設定 -->


<!-- モーダルの設定 -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">フレンド</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- モーダルの中身 -->
				<ul class="list-group mt-3">
					<% @friends.each do |friend| %>
						<% if friend.id != current_user.id %>
							<li class="list-group-item">
								<div class="d-inline">
										<span class="mr-3">
											<img class="rounded-circle" src="<%= friend.img %>" style="width: 50px; height: 50px; object-fit: cover">
										</span>

										<span><%= friend.name %></span>
								</div>

								<div class="d-inline">
									<% if Friendship.find_by(user_id: current_user.id, friend_id: friend.id) %>
										<span class="float-right">申請済み</span>
									<% elsif Friendship.find_by(user_id: current_user.id, friend_id: friend.id) && Friendship.find_by(user_id: friend.id, friend_id: current_user.id) %>
										<span class="float-right">フレンド</span>
									<% else %>
										<span class="float-right">
											<form action="/add/<%= friend.id %>" method="post">
												<button type="submit" class="btn btn-info float-right">フレンド申請</button>
											</form>
										</span>
									<% end %>

								</div>

							</li>
						<% end %>
					<% end %>
  </ul>

      </div>
      <%# <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary">変更を保存</button>
      </div> %>
    </div>
  </div>
</div>

	<div class="row justify-content-center mt-5">
		<table class="table-bordered">
			<tr>
				<th></th>
				<th>Mon</th>
				<th>Tue</th>
				<th>Wed</th>
				<th>Thu</th>
				<th>Fri</th>
			</tr>

			<tr>
				<th>1</th>
				<td><%= @mon1&.day %></td>
				<td><%= @tue1&.day %></td>
				<td><%= @wed1&.day %></td>
				<td><%= @thu1&.day %></td>
				<td><%= @fri1&.day %></td>
			</tr>

			<tr>
				<th>2</th>
				<td><%= @mon2&.day %></td>
				<td><%= @tue2&.day %></td>
				<td><%= @wed2&.day %></td>
				<td><%= @thu2&.day %></td>
				<td><%= @fri2&.day %></td>
			</tr>

			<tr>
				<th>3</th>
				<td><%= @mon3&.day %></td>
				<td><%= @tue3&.day %></td>
				<td><%= @wed3&.day %></td>
				<td><%= @thu3&.day %></td>
				<td><%= @fri3&.day %></td>
			</tr>

			<tr>
				<th>4</th>
				<td><%= @mon4&.day %></td>
				<td><%= @tue4&.day %></td>
				<td><%= @wed4&.day %></td>
				<td><%= @thu4&.day %></td>
				<td><%= @fri4&.day %></td>
			</tr>

			<tr>
				<th>5</th>
				<td><%= @mon5&.day %></td>
				<td><%= @tue5&.day %></td>
				<td><%= @wed5&.day %></td>
				<td><%= @thu5&.day %></td>
				<td><%= @fri5&.day %></td>
			</tr>

			<tr>
				<th>6</th>
				<td><%= @mon6&.day %></td>
				<td><%= @tue6&.day %></td>
				<td><%= @wed6&.day %></td>
				<td><%= @thu6&.day %></td>
				<td><%= @fri6&.day %></td>
			</tr>

	</table>

	</div>



</div>